doctype html
html
  head
    title= title
    each file in base.JSFiles
        script(type='text/javascript', src='/javascripts/'+file)

    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    div.container
        block content